__pycache__
.vscode/
*.db
*.so
*.d

unused/
.fna
output/
output_old/
output_used_for_quals/
339_output_ortho/
339_output_genome/
339_output_genome_ns/
cds/
guides.db
guides.db-journal
genomes/
datasets/
test.txt
txt.txt
.pytest_cache/
data/cache/