include README.md
include LICENSE
include pyproject.toml
include cpp/CMakeLists.txt

# C++ Core & Subdirectories
recursive-include cpp *.cpp *.h *.hpp
recursive-include cpp/kirschtorte *
recursive-include cpp/uCRISPR *

# Python Package & Resources
recursive-include python/allegro *.py

# Exclude unnecessary artifacts
prune build
prune **/__pycache__
